<li id="my_matches">
  <a href="/my_matches">
    My Matches
  </a>
</li>
<li id="create_match">
  <a href="/create_match">
    Create a Match
  </a>
</li>
<li>
  <a href="/logout">Logout</a>
</li>
<li class="hidden-xs">
    <a><%= session.user %></a>
</li>
