<div class='tweetIt btn btn-sm btn-info  btn-round'>Tweet this!
  <div style="display:none"><%= result[i].question %> Answer here! https://fccvotingappfcc.herokuapp.com/match<%= result[i]._id %></div>
</div>

<div class='facebook-share btn btn-sm btn-primary  btn-round'>Share to FB!
  <div style="display:none"><%= result[i].question %></div>
  <div style="display:none">https://fccvotingappfcc.herokuapp.com/match<%= result[i]._id %></div>
</div>
