<div class='tweetIt btn btn-sm btn-info  btn-round'>Tweet this!
  <div style="display:none"><%= result[i].question %> Answer here! https://fccvotingappfcc.herokuapp.com/match<%= result[i]._id %></div>
</div>
