
<% include partials/head.ejs %>
<div class="jumbotron">
  <h1>Grudge Match!</h1>
</div>
<h1>What do you want to do?</h1>
<a href="/create_match"><div id="create">Create a grudge match</div></a>
<a href="/random"><div id="vote">Show me a random grudge match!</div></a>
<a href="/all_matches"><div id="vote">Show me all grudge matches!</div></a>

<% include partials/scripts.ejs %>
<script src="splash.js"></script>
<% include partials/footer.ejs %>
