
<% include partials/head.ejs %>

<% if(session.user !== undefined) {%>
  <div class="jumbotron steve-jumbo">
    <h1>Dashboard</h1>
  </div>
  <div class="steve-container">
    <h1>What do you want to do?</h1>
    <a href="/create_match"><div class="btn btn-success" id="create">Create a new match!</div></a>
    <!-- <a href="/random"><div class="btn btn-warning" id="vote">Show random match!</div></a> -->
    <a href="/all_matches"><div class="btn btn-info" id="vote">Show all matches!</div></a>
  </div>

<% } else { %>
  <div class="jumbotron steve-jumbo">
    <h1>Welcome to Grudge Match!</h1>
    <h3>Create custom polls ('matches') and share them with your friends!</h3>
  </div>
  <div class="steve-container">
    <a href="/login"><div class="btn btn-lg btn-info" id="create" style="margin-bottom: 15px">Login via Twitter to create new matches</div></a>
    <p>Or if you don't want to login, you can do the following things without verification:</p>
    <!-- <a href="/random"><div class="btn btn-xs btn-warning" id="vote">Show random match!</div></a> -->
    <a href="/all_matches"><div class="btn btn-xs btn-success" id="vote">Show all matches!</div></a>
  </div>
<%}%>


<% include partials/scripts.ejs %>
<% include partials/footer.ejs %>
