


<a id="facebook-share" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Facebook"> Share this
</a>


<script>
//window.location.href
var url = "http://google.com"
var title = encodeURI("Grudge Match!");
var facebook_url =  "https://www.facebook.com/sharer/sharer.php?u="+ url +"&t=" + title;
document.getElementById("facebook-share").href = facebook_url;
</script>
