<% include partials/head.ejs %>
<h1>Thank you!</h1>
<div id="redirect">Redirecting in...<span id="counter">3</span></div>


<script src="redirect.js"></script>
<% include partials/scripts.ejs %>
<% include partials/footer.ejs %>
