body {
  margin-top: 100px;
}

.jumbotron {
  background-color: royalblue;
  color: white;
  text-shadow: 1px 1px 2px #0F0F0F;
}

.btn {

}

.match {
  margin: 20px;
}

.steve-container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.container {
  margin: 0 auto;
}

.steve-jumbo {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.steve-col {
  text-align: center;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;

}
