@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Rajdhani');
@media only screen and (min-device-width: 800px) {
  /* Hover only on PC, disabled for iPad */
    .headerRow:hover {box-shadow:2px 2px 2px #666;background: #c0c0c0;
        background: -moz-linear-gradient(top,  #c0c0c0 1%, #f0f0f0 41%, #f0f0f0 55%, #c0c0c0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c0c0c0), color-stop(41%,#f0f0f0), color-stop(55%,#f0f0f0), color-stop(100%,#c0c0c0));
        background: -webkit-linear-gradient(top,  #c0c0c0 1%,#f0f0f0 41%,#f0f0f0 55%,#c0c0c0 100%);
        background: -o-linear-gradient(top,  #c0c0c0 1%,#f0f0f0 41%,#f0f0f0 55%,#c0c0c0 100%);
        background: -ms-linear-gradient(top,  #c0c0c0 1%,#f0f0f0 41%,#f0f0f0 55%,#c0c0c0 100%);
        background: linear-gradient(to bottom,  #c0c0c0 1%,#f0f0f0 41%,#f0f0f0 55%,#c0c0c0 100%);
        -webkit-transition: all 0.2s;  -moz-transition:    all 0.2s;  -ms-transition:     all 0.2s;  -o-transition:      all 0.2s;
    }
}

.chart {
width:100%;
height:inherit;
}
body {
  margin-top: 100px;
  background-color: #E9F4F7;
  margin-bottom: 100px;
}
a {
  color: royalblue;
}
.list-title {

    font-family: 'lato', sans-serif;
}
.navbar {
  font-weight: bold;
  text-shadow: 1px 1px 3px #0F0F0F;
  color: black;
}
.welcome {
  font-family: 'Pacifico',cursive;
  padding-bottom: 2vmax;
}

.well {
  background: #FAFAFA;
  border-radius: 10px;
}

.jumbotron {
  background-color: royalblue;
  color: white;
  text-shadow: 1px 1px 2px #0F0F0F;
}

.match {
  margin: 20px;
}

.steve-container {
  margin: 0 auto;
  text-align: center;
  max-width: 75vmax;
}

.container {
  margin: 0 auto;
}

.steve-jumbo {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.steve-col {
  text-align: center;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;

}
